body{
    padding-top: 100px;
    padding-bottom: 100px;
}

nav a {
    color: white;
    }

.navbar-brand, .form-group, {
    /* font-weight: 500; */
}
.website {
    width: 90%;
}

.float-left {
    font-weight: bold;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li {
    text-decoration: none;
}

.delete {
    padding-top: 10px;
}

a, a:hover {
    text-decoration:none;
    
}